<mat-toolbar mat-dialog-title color="primary">
Login
<span class="flex-spacer"></span>
<button mat-button mat-dialog-close>&times;
</button>
</mat-toolbar>

<p> {{user| json }}</p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
<p>
  <mat-input-container dividerColor="{{ username.invalid && !username.pristine ? 'warn': 'primary' }}">
    <input matInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
    <mat-hint>
      <span [hidden]="username.pristine">
        <span [hidden]="!username.errors?.required">
          username is required
        </span>
      </span>
    </mat-hint>

  </mat-input-container>

  <mat-input-container  dividerColor="{{ username.invalid && !username.pristine ? 'warn': 'primary' }}">
    <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
    <mat-hint>
      <span [hidden]="password.pristine">
        <span [hidden]="!password.errors?.required">
          password is required
        </span>
      </span>
    </mat-hint>
  </mat-input-container>
  <mat-checkbox [(ngModel)]="user.remember" name="remember">
    Remember Me
  </mat-checkbox>
</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-spacer"> </span>
  <button mat-button mat-dialog-close>Cancel</button>
  <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid" >Login</button>
</mat-dialog-actions>
</form>